#drop_zone {
    border: 2px dashed #BBB;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 25px;
    text-align: center;
    font: 20pt bold 'Vollkorn';
    color: #BBB;
}

#toggle-options a:link, #toggle-options a:visited {color: #369;}
/* ul {float:left; width: 45%}
ul ul {float: none;} */
