#drop_zone {
    border: 2px dashed #BBB;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #BBB;
    font: 20pt bold;
    margin-bottom: 12px;
    padding: 25px;
    text-align: center;
}

#unsupported {
    border: 1px solid #C00;
    background-color: #FFC;
    margin: 0 10px 12px 10px;
    padding: 5px;
}

#unsupported ul {margin-top: 0;}

#output {margin:0;}

#contact {text-align: right;}
#contact a:link, #contact a:visited {color: #666; font-size: smaller;}

.hide {display: none;}